<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpss.system.service.dao.IMenuDao">
	

<select id="doGetBeans" resultType="com.lyyzoo.gpss.api.vo.Menu" parameterType="java.util.Map">
SELECT m.mid,
         name,
         url,
         parent_mid parentId,
        menu_icon menuIcon,
         max(if(mr.rid=
    (SELECT rid
    FROM role
    WHERE role_code="admin"),"admin","")) admin, max(if(mr.rid=
        (SELECT rid
        FROM role
        WHERE role_code="saler"),"saler","")) saler,max(if(mr.rid=
            (SELECT rid
            FROM role
            WHERE role_code="storer"),"storer","")) storer,max(if(mr.rid=
                (SELECT rid
                FROM role
                WHERE role_code="purchaser"),"purchaser","")) purchaser
            FROM menu m
        LEFT JOIN menu_role mr
        ON m.mid = mr.mid 
        WHERE true 
		<if test="menuLevel != null &amp; menuLevel != &quot;&quot;">
			and menu_level= #{menuLevel}
		</if>
 GROUP BY  m.mid

</select>

<delete id="doDeleteBeans" parameterType="list">
	delete from menu where mid in
	<foreach collection="list" open="(" close=")" separator="," item="item">
		#{item}
	</foreach>
</delete>

<insert id="doCreateBean" parameterType="com.lyyzoo.gpss.api.vo.Menu">
	insert into menu( name, url, parent_mid)
		values(#{name},#{url},#{parentId});
</insert>

<update id="doUpdateBean" parameterType="com.lyyzoo.gpss.api.vo.Menu">
	update  menu set name =#{name} , url =#{url}
		where mid = #{mid}
</update>

</mapper>